[submodule "asr-builder"]
	path = asr-builder
	url = https://www.github.com/jfajkowski/asr-builder
[submodule "asr-scraper"]
	path = asr-scraper
	url = https://www.github.com/jfajkowski/asr-scraper
[submodule "asr-service"]
	path = asr-service
	url = https://www.github.com/jfajkowski/asr-service.git
[submodule "asr-tools"]
	path = asr-tools
	url = https://github.com/jfajkowski/asr-tools
